:root {
  --blue-background: #116ACC;
  --grey-color-2: #374151;
  --grey-color-4: #6B7280;
  --grey-color-5: #9CA3AF;
  --grey-color-7: #F3F4F6;
  --primary: #116ACC;
  --primary-border: rgba(0, 82, 255, 0.1);
  --secondary-1: #182233;
  --white-color: #ffffff;
  --active-btn: #A0C3FF;
  --amount-minus: #FD4E5D;
  --amount-plus: #76CA66;
}
